/*set document elements style*/
*:focus {
    outline:none !important;
}
body {  min-width:1150px; }

body, html {
  background-color: #051126;
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

/*#vr {
    background-image: url(img/infoImg.png);
}*/
p, a, ul {
  list-style: none;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  opacity: 0.8;

}
#start p{
  margin-left: 6%;
  opacity: 0.3;
  font-size: 1.5em;
}

#info{

    font-size: 1.3em;
    margin-right: 8%;
    width: 25%;
    float: right;
    margin-top: -30%;
    text-align: justify;
}

#infobtn{
    margin-top: 1.5%;
    margin-left: -13.8%;
    font-family: 'Dosis', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    opacity: 0.3;
    border: none;
    font-size: 1.05em;

}

#infobtn:hover{
    opacity: 0.6;
}
#startimg{
  width: 5%;
  opacity: 0.8;
  float:left;
  margin-top: -3%;


}
h1{
  margin-left: 15%;
  font-size: 3em;
  opacity: 0.65;
}

h2 {
    font-size: 5em;
}

h1, h2, p, input{
  list-style: none;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  color: #fff;

}

#vrload {

    width:100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
    padding: 2%;
    text-align: center;
    text-align: center;
    font-size: 3em;
    margin-top: 30%;
}



div {
  vertical-align: 0;
}

/*header style*/

#header {
  margin-top: -21%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  width:100%;
  min-height: 3%;
  position: fixed;
  padding: 0.5%;
  opacity: 0.7;
  z-index: 10;
}

#header li {
  float: right;
  padding-right: 5%;
}

#logo_cnr {
  float: right;
  margin-right: 2%;
  max-width: 12%;
}

#spacer{
  background-color: #000;
  visibility: hidden;
  width:100%;
  min-height: 4%;
  max-width: 12%;
  padding: 0.5%;
}

#spacer_cnr {
  float: left;
  margin-left: 0%;
  max-width: 12%;
}

/*body style*/


#start, #social_media{
  width: 100%;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

#start {
  background-color: #01050c;
  padding-top: 20.5%;
  padding-bottom: 29%;
  background-image: url("img/homeScreen2.png");

  background-position: center bottom;
}

#start p{
  float: left;
  padding-left: 10%;
}

.media button {

    display: block;
    width: 100px;
    height: 100px;

    border-radius: 100%;
    border: none;
}

.media button:hover {

  opacity: 0.8;

}

.media button:active {

    border: none;
    outline: none;
}

::-webkit-input-placeholder {
   opacity: 0.6;

}

:-moz-placeholder { /* Firefox 18- */
   opacity: 0.6;
}

::-moz-placeholder {  /* Firefox 19+ */
   opacity: 0.6;
}

:-ms-input-placeholder {
   opacity: 0.6;
}

#select{
    margin-top: 3%;
}

#name {
    width: 20%;
    background-color: #04132c;
    margin-left: 40%;
    margin-top: 1%;
    font-size: 3em;
    text-align: center;
    color: #fff;
    opacity: 0.9;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.1));


}

#selectall{
    margin-left: 49%;
    margin-top: 1%;
    font-family: 'Dosis', sans-serif;
    color: #fff;
    background-color: rgba(68, 82, 104, 0.2);
    border: #fff;
    outline: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

#selectall:hover{
    background-color: rgba(68, 82, 104, 0.5);
}
#social_media p{
    font-size: 1.15em;
    color: #fff;
    margin-top: 1%;
    width: 100%;
    text-align: center;
}

#hi{
    padding-top: 2%;
    background-color: #010610;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.01));
}


#social_media h2{
    width: 100%;
    text-align: center;
}
#social_media {

  background-image: url("img/socialMediaChange.png");
}

#name:valid{

    border: none;
}
.mediaSpace {

  width: 11.2%;


  float: left;
  border-style: solid;
}

.media {
  width: 10%;
}
#social_media{
    padding-bottom: 4%;
}

input {
  width: 45%;
  opacity: 0.6;
  color: #10233e;
}

label {
  font-family: 'Dosis', sans-serif;
  font-size: 1em;
  color: #fff;
  opacity: 0.6;

}

.media img{
  filter: gray alpha(opacity=100);
  -webkit-filter: grayscale(80%);
  width: 500%;
  z-index: 9;
}

.mediaSpace {
  margin-top: 0%;
}
/*social media icons free from: https://gumroad.com/d/2bc389254ce6c5f0620153c245150bae*/

#twitter{
  width: 8%;
  padding-left: 18%;
  padding-top: 6.5%;
  padding-bottom: 28.5%;
}

#google{
  padding-top: 27%;
  padding-left:0.6%;
  width: 8.5%;
}

#linkedIn{
  padding-top: 13.5%;
  padding-left:0.6%;
  width: 8%;
}

#pinterest{
  padding-top: 19.5%;

  padding-left:0%;
  width:7%;
}

#tumblr{
  padding-top: 26.6%;

  padding-left:1.6%;
  width: 8%;
}

#instagram{
  padding-top: 13.3%;

  padding-left:0.6%;
  width: 7%;
}

#youtube{
  padding-top: 26.8%;

  padding-left:1.8%;
  width: 8%;
}

#reddit{
  padding-left: 0.5%;
  padding-right: 4%;
  padding-top: 6.5%;
  width: 8.5%;
}

/*.mediaSpace .media:hover{
    background-color: #aaa;
}*/

.mediaSpace form {
  visibility: hidden;
}

.mediaSpace .media:hover + form {
  visibility: visible;
}
.mediaSpace form:hover {
  visibility: visible;
}

.mediaSpace form input:invalid{
  background-color: #fff;
}

.mediaSpace form input:valid{
  background-color: #bbb;
}

#mediaText{
  background-color: #04132c;
  margin-left: 40%;
  margin-top: 3%;
  font-size: 2.5em;
  opacity: 0.7;
  width:25%;
  border-radius: 10%;
  text-align: center;
}


#scan {
  padding-top:3%;
  background-image: url("img/scan.png");
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center, center;
  padding-bottom: 2%;

}

#scanButton {
  margin-left: 45%;

  opacity: 0.7;
  background-color: #10233e;
  z-index: 2
  border: none;
  outline: 0;
  font-size: 2.5em;
}

#scanButton:hover {
    opacity: 0.4;
}

/* scan img altered from this image (creative commons attribution) https://www.flickr.com/photos/krists/15281428434/in/photolist-phnjh3-onMH35-phnj1w-qqPtsP-7RziiZ-4rBwhs-qebpma-DeqLUC-cWCHzh-6ezqZg-gAecuD-4zQbdb-oqcNcE-qebpDe-675LQx-bPhJin-i7vBw-dW1AYX-BLbDLJ-orRCox-54wkCv-taYSw-4LVyfP-4TgLKX-5sk83q-Hou8QM-gAed7k-gAeebA-6BxaTH-3e8dU-dkzEMD-56tgEn-Jz3Dkp-5tpwpY-56sYC6-aJbEQT-iN1uBx-eedrxA-56tgTi-8tGoMA-93GYYw-r62dM9-Brd5s7-2hGuc-7TpKrD-x1TgvF-dQFWSw-ipqwhX-a97DFu-pKgE7p*/
#scan img {
  padding-top: 3%;
  opacity:0.8;
  z-index: 1;
  width:100%;
  padding-bottom: 3%;
  visibility: hidden;
  margin-left: -5%;
}




#submit {

  margin-left: 55%;
  font-size: 1.5em;
}

a:hover{
  color: #a9a9a9;
}
