body, html {
  background-color: #04132c;
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;

}
p, a, ul {
  list-style: none;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  opacity: 0.8;

}

#header {
  background-color: #10233e;
  width:100%;
  min-height: 3%;
  position: fixed;
  padding: 0.5%;
  opacity: 0.7;
  z-index: 10;
}

#header li {
  float: right;
  padding-right: 5%;
}

#logo_cnr {
  float: left;
  margin-left: 0%;
  max-width: 12%;
}

#spacer{
  background-color: #000;
  visibility: hidden;
  width:100%;
  min-height: 4%;
  max-width: 12%;
  padding: 0.5%;
}

#spacer_cnr {
  float: left;
  margin-left: 0%;
  max-width: 12%;
}



#intro{
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-image: url("img/scan.png");



  width: 100%;

  padding-top: 30.5%;

}

#returning{
  visibility: hidden;
}

#logo{
  margin-left: 15%;
  width:50%;
}

#info{
  padding-top:30%;
  margin-top: 23%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("img/socialMedia.png");
}
